<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherAround_ver1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93F881141D8F44E500EE8582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F881281D8F44E500EE8582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F881331D8F44E500EE8582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
